fastapi
uvicorn
streamlit
yfinance
nsetools
chromadb
langchain
langchain-community
langchain-chroma
langgraph
crewai
gtts
deep-translator
google-generativeai
langdetect
requests
pandas
numpy
scikit-learn
python-dotenv
pydantic